<!DOCTYPE html>
 <html class="no-js">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Registry</title>
	<link rel="shortcut icon" href="favicon.ico">
	<link href="https://fonts.googleapis.com/css?family=Montez" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/icomoon.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/superfish.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/modernizr-2.6.2.min.js"></script>

	</head>
	<body>
		<div id="fh5co-wrapper">
		<div id="fh5co-page">


		<header id="fh5co-header-section" class="sticky-banner">
			<div class="container">
				<div class="nav-header">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
					<h1 id="fh5co-logo"><a href="index">C+E</a></h1>
					<!-- START #fh5co-menu-wrap -->
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li><a href="index" ></a></li>
							<li><a href="index" >Home</a></li>
							<li><a href="when-where">When &amp; Where</a></li>
							<li><a href="hotels">Hotels</a></li>
							<li class="active"><a href="Registry">Registry</a></li>
							<li><a href="gallery">Gallery</a></li>
							<!--<li><a href="guest">Wedding Party</a></li>-->
						</ul>
					</nav>
				</div>
			</div>
		</header>

		<!-- end:header-top -->


		<div id="fh5co-guest">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center heading-section">
						<h2>Registry</h2>
						<p style="color: black;">Click a gift link for more information.</p>
						<table style="width: 70%; margin-left: auto; margin-right: auto;" border="1">
							<tr>
								<th><h2 style="margin-top: 10px; margin-bottom: 10px; text-align: center;">Gift</h2></th>
								<th><h2 style="margin-top: 10px; margin-bottom: 10px; text-align: center;">Price</h2></th>
							</tr>
							<%
								if(registryData.length != 0){
									registryData.forEach(function(data){
							%>
							<tr>
								<td><u><a href="/confirm?id=<%=data.GiftID %>"><%=data.GiftName %></a></u></td>
								<td><%=data.GiftPrice %>$</td>
							</tr>
						<% })} %>
						</table>
					</div>
				</div>
			</div>
		</div>
	<script src="dist/scripts.min.js"></script>
	</body>
</html>
